<%- include("partials/header") -%>
<div class="wrapper">
        <div class="left">
            <img src="image/account.svg" alt="user" >
        </div>
        <div class="right">
            
               <h1 class="Company">CREDENCE</h1>
               <h3 class="Employee">Employee Details</h3>
                
               <div class="data">
                  <h4>Name :</h4>
                  <p><%=empDetail.name%></p>
               </div>

               <div class="data">
                  <h4>Username :</h4>
                  <p><%=empDetail.username%></p>
               </div>

               <div class="data">
                  <h4>Email :</h4>
                  <p><%=empDetail.mail%></p>
               </div>
               
               <div class="data">
                  <h4>Team :</h4>
                  <p><%=empDetail.team%></p>
               </div>

               <div class="data">
                  <h4>Designation :</h4>
                  <p><%=empDetail.designation%></p>
               </div>   

               <div class="data">
                  <h4>Salary :</h4>
                  <p><%=empDetail.salary%></p>
               </div>
                  
               <div class="data">
                  <h4>Phone :</h4>
                  <p><%=empDetail.pnumber%></p>
               </div>
                
            
        </div>
</div>
<%- include("partials/footer") -%>
