<%- include("partials/header") -%>
        <h1>HI THIS IS ACCOUNT PAGE</h1>
        <h4>Name - <%=empDetail.name%></h4>
        <h4>Team - <%=empDetail.team%></h4>
        <h4>Designation - <%=empDetail.designation%></h4>
        <h4>Phone Number - <%=empDetail.pnumber%></h4>
        <h4>Current Salary - <%=empDetail.salary%></h4>
<%- include("partials/footer") -%> 