<%- include("partials/header") -%>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        form,
        .alert {
            width: 50%;
        }
        .btn.btn-primary {
            background-color: #5a43ff;
            border-color: #5a43ff;
        }
        .btn.btn-primary:focus {
            box-shadow: 0 0 0 0.25rem rgba(89, 67, 255, 0.5);
        }
        img {
            position: absolute;
            bottom: 0;
            right: 10%;
            z-index: -100;
            width: 40vw;
        }
        @media only screen and (max-width: 1000px) {
            form,
            .alert {
                width: 100%;
            }
            img {
                margin: 0 auto;
                right: unset;
                left: 0;
                width: 100%;
            }
        }
    </style>
</head>

<div class="container">
    <h1>Apply for Leave</h1>
    <h3>
        <span class="badge bg-warning my-3">
            Today:
            <script>
                document.write(new Date().toDateString());
            </script>
        </span>
    </h3>
    <!-- leave is approved -->
    <% if(employee.leavestatus=='approved') { %>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Approved !</h4>
        <hr />
        <p>Your leave has already been <strong>approved</strong>.</p>
        <p>
            Your leave is starting from <strong><%=employee.leavefrom%></strong> and ending at <strong><%=employee.leaveto%></strong> is of
            <strong> <%=employee.lcount%> </strong> days.
        </p>
    </div>
    <% } else { %>
    <!-- leave is applied but not-alloted -->
    <% if(employee.leavestatus=='not alotted') { %>
    <div class="alert alert-secondary" role="alert">
        <h4 class="alert-heading">Current Status</h4>
        <hr />
        <p>You have already requested for leave. Any further <strong>NEW REQUEST</strong> will overwrite current request.</p>
        <p>
            Current request of leave is starting from <strong><%=employee.leavefrom%></strong> and ending at
            <strong><%=employee.leaveto%></strong> is of <strong> <%=employee.lcount%> </strong> days.
        </p>
    </div>
    <% } %>
    <!-- leave is not-applied/rejected/not-alloted -->
    <form action="/attendance" method="POST">
        <div class="input-group mt-4">
            <span class="input-group-text">Starting From</span>
            <input type="date" class="form-control" name="from" id="from" />
        </div>
        <br />
        <div class="input-group mt-2">
            <span class="input-group-text">Ending at</span>
            <input type="date" class="form-control" name="to" id="to" />
        </div>
        <br />
        <div class="input-group mt-2">
            <span class="input-group-text">Leave reason</span>
            <input type="text" class="form-control" name="reason" id="reason" placeholder="Maximum limit: 100 words"/>
        </div>
        <br />
        <h4>Calculated no. of days of leave : <span class="badge bg-secondary" id="count">0</span></h4>
        <br />
        <% if(employee.leavestatus=='not alotted') { %>
        <button type="submit" class="btn btn-primary" name="submit" id="submit_btn">Apply New</button>
        <% } else { %>
        <button type="submit" class="btn btn-primary" name="submit" id="submit_btn">Apply</button>
        <% } %>
    </form>
    <% } %>
    <img src="../image/leave.svg" alt="ill" />
</div>
<script>
    var datefrom = document.getElementById('from');
    var dateto = document.getElementById('to');
    var from;
    var to;
    var count;
    document.getElementById('submit_btn').disabled = true;
    datefrom.min = new Date().toISOString().slice(0, 10);
    dateto.disabled = true;
    datefrom.addEventListener('change', () => {
        from = new Date(datefrom.value);
        dateto.disabled = false;
        dateto.min = datefrom.value;
    });
    dateto.addEventListener('change', () => {
        to = new Date(dateto.value);
        count = Math.ceil(Math.abs(to.getTime() - from.getTime()) / (1000 * 60 * 60 * 24)) + 1;
        document.getElementById('count').innerText = count;
        document.getElementById('submit_btn').disabled = false;
    });
</script>
<%- include("partials/footer") -%>