<html>
    <head>

    </head>
    <body>
        <% searchedEmployees.forEach(function(employee){ %>
            <p>Name - <%=employee.name%></p>
            <p>Team - <%=employee.team%></p>
            <p>Designation - <%=employee.designation%></p>
            <p>Phone Number - <%=employee.pnumber%></p>
            <p>Salary - <%=employee.salary%></p>
            <p>Employee Id - <%=employee.employeeId%></p>

        <% }) %>
    </body>
</html>